body {
    padding: 0;
    margin: 0;
}
header {
    background-color: #3D434A;
    width: 100%;
    height: 190px;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.headerleft{
	float: left;
	width: 50%;
}
.logo{
	float: left;
	padding-top: 56px;
}
.logo img{}
.headtext{
	padding-top: 60px;
    color: aliceblue;
    float: left;
}
.headtext h1{
	margin-left: 10px;
}
.headtext h4{
	font-size: 20px;

    margin-top: -24px;
	margin-left: 10px;
}
.headerright{float: left;width: 50%;}
.phone{
	padding-top: 20px;
    padding-left: 150px;
    float: left;
}
.phone img{}
.ptext{
	color: white;
    /*float: left;*/
}
.ptext p{
	padding-top: 15px;
}
.ptext h1{
	margin-top: -15px;
	font-weight: bold;;
}
.icon{
	float: right;
    padding-top: 0px;
    padding-right: 222px;
}
.icon a{}
.icon a img{}

nav{
	float: left;
    height: 60px;
    background-color: #30b6f0;
   /* background: linear-gradient(to bottom, #6682D0, #193277);*/
    width: 100%;
}
nav ul{ 
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}
nav ul li {
    float: left;
    border-right: 1px solid black;
    /* padding: 10px; */
    margin-top: 9px;
    /* margin-bottom: 10px; */
}
nav ul li a {
    margin-top: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 26px 10px 19px;
    text-decoration: none;
    border-radius: 10px;
    /* border-right: 1px solid black; */
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 1px;
}
nav ul li:last-child{
	border-right:none;
}
.active {background-color: #e8db2a;
color: black}
.nav ul li a:hover{}
.{}

.mbody {
    background-color: #464B57;
    height: 1600px;
}

.bgt {
    float: left;
    height: 500px;
    width: 1311px;
    margin: 0 auto;
    /* margin-top: -33px; */
    background: url('super_back.png');
    background-repeat: repeat-y;
}

.bwhite {
    height: 350px;
    width: 1180px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    /* padding-top: 30px; */
    margin-top: 40px;
}

.backi {
    float: left;
    height: 360px;
    width: 1139px;
    margin: 20px 20px;
    /* margin-top: -33px; */
    background: url('../img/back.png');
    background-repeat: repeat-x !important;
    background-repeat: repeat-y;
}

.btext {
    background-color: black;
    height: 100px;
    width: 500px;
    float: left;
    opacity: 0.8;
    margin-top: 26px;
}

.bimage img {
    height: 300px;
    margin: -114px 672px
}

.btext p {
    font-size: 26px;
    opacity: 1;
    font-style: italic;
    color: white;
}


.wbox {
    float: left;
    height: 100px;
    width: 175px;
    background-color: aliceblue;
    margin: -65px 17px 22px 113px;
    border-radius: 20px;
    color: black;
    opacity: .9;
}


.nbody
{
    width: 100%;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
    float: left;
    margin-left: 53px;
    border-radius: 10px;
}

.bfirst
{
    width: 60%;
    height: 950px;
    color: black;
    margin-left: 20px;
    float: left;
}
.bfirst h3{
    /*margin-left: 20px;*/
}
.bfirst img{
    float: left;
    padding-right: 10px;
}
.bsecond {
    float: right;
    width: 32%;
    height: 824px;
    background-color: black;
    /* margin-right: 4px; */
    border-radius: 19px;
    margin: 25px;
    opacity: 0.78;
}
.bsecond h2{
    color: white;
    text-align: center;
    font-size: 33px;
    font-weight: normal;

}

